@import "./variables";

.sudoker {
  position: relative;
  background: $background;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sudoker__inputs {
    display: flex;
    align-items: center;
    justify-content: center;

    .sudoker__inputs-box {
      background: white;
      border-radius: 5px;
      box-shadow: 6px 7px 40px 3px rgba(0,0,0,0.75);
      width: $box-side + px;
      height: $box-side + px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .sudoker__square {
    width: $square-side + px;
    height: $square-side + px;
    border: 1px solid $square-border;

    input {
      width: $input-side + px;
      height: $input-side + px;
      border: 1px solid $input-border;
      appearance: none;
      margin: 0;
      font-size: 20px;
      text-align: center;
      color: gray;

      &.userInput {
        font-weight: bold;
        color: black;
      }
    }
  }
  .sudoker__file {
    margin-top: 45px;
    width: $box-side + px;
  }
}
